<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A24 Bot</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://sad.adsgram.ai/js/sad.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>
   <div id="main">
    <div id="user-info">
        <div id="profile">
            <img id="profileimg" alt="profile">
            <p style="color: white; font-weight: 600;" class="userName"></p>
        </div>
        <p style="color: white; font-size: small;">Online:<span id="online-users">0</span></p>
    </div>
    <!-- <button id="ad">Show ad</button> -->
     
    <!-- Home page -->
    <div class="HomeContent content active "  id="Home">
        <%- include('home'); %>

        </div>
    </div>
    <!-- earn page -->
    <div class="EarnContent content" id="Earn">
        <%- include ('airdrops'); %>
    </div>
    <!-- Chat page -->
    <div class="ChatContent content" id="Chat">
        <%- include ('daily'); %>
    </div>
    <!-- Profile page -->
    <div class="ProfileContent content" id="Profile">
        <%- include ('profile'); %>>
    </div>

    <div id="TapContainer">
        <div class="homeTab Tab active" data-Tab="Home">
            <i class="ri-home-5-line"></i>
        </div>
        <div class="earnTab Tab" data-Tab="Earn">
            <i class="ri-money-dollar-circle-fill"></i>
        </div>
        <div class="chatBar Tab" data-Tab="Chat">
            <i class="ri-chat-3-line"></i>
        </div>
        <div class="profileTab Tab" data-Tab="Profile">
            <i class="ri-user-line" ></i>
        </div>

     </div>
   </div>
   <!-- <div id="loading-screen"> -->
    <!-- <div class="spinner"></div> -->
  </div>

   <script src="/js/script.js"></script>
</body>
</html>