* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(177, 168, 168, 0.808);
  border-left-color: #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#main-content {
  display: none;
  width: 100%;
  height: 100%;
  background-color: black;
  color: #333;
}
#user-info{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    
}
#TapContainer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(44, 44, 44);
    /* border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Tab{
    font-size: 25px;
    color: rgb(146, 146, 146);
}
.Tab.active{
    color: aqua;
    /* background-color: blue; */
}
.content{
    color: white;
    display: none;
    width: 100%;
    padding-top: 5px;
}
.content.active{
    display: block;
}
